select {
  -webkit-appearance: none;
  width: 100px;
  border-radius: 3px;
  background: transparent;
  color: #B9090B;
  padding: 4px;
  border: 1px solid #B9090B;
  margin-top: 12px;
  font-size: 14px;
}