
.griddescwrapper{
    background:#232323;
    width:100%;
    height:100%;
    padding: 20px 0px;
}
.videoDetailsrow{
    overflow: auto;
}
.videoDetailsrow h4 {
    float: left;
}
.videoDetailsrow a {
    float: right;
    font-size: 18px;
    color: #7d7d7d;
}
span.tag {
    background: transparent;
    border: 1px solid grey;
    border-radius: 32px;
    font-size: 10px;
    line-height: normal;
    color:grey;
    height: auto;
    padding: 6px 10px;
}
p.language {
    font-size: 12px;
    text-transform: uppercase;
    margin: 5px 0px 14px;
}
.voting ,.release{
    font-size: 12px;
}
.lowerItem {
    margin-left: 18px;
}
.voting i,.release i {
    color:#fff;
    margin-right: 5px;
}
.noMargin.tags{
    margin-bottom:6px
}
.is-vertical-center{
    display: flex;
    justify-content: center;
}

.liked .text-center {
    border: 1px solid limegreen;
    text-align: center;
    padding: 6px 10px;
    color: limegreen;
    border-radius: 50%;
    border-radius: 30px;
    width: 40px;
    height: 40px;
    margin: 0 auto;
}

.maybe .text-center {
    border: 1px solid orange;
    text-align: center;
    padding: 6px 10px;
    color: orange;
    border-radius: 50%;
    border-radius: 30px;
    width: 40px;
    height: 40px;
    margin: 0 auto;
}


.dontlike .text-center {
    border: 1px solid red;
    text-align: center;
    padding: 6px 10px;
    color: red;
    border-radius: 50%;
    border-radius: 30px;
    width: 40px;
    height: 40px;
    margin: 0 auto;
}
.greenTxt {
    color: limegreen;
}
.orangeTxt {
    color: orange;
}
.red {
    color: red;
}
.totalwtached{
    font-size: 10px;
    text-align: center;
    margin-top: 6px;
}
.videoDetails{
    position: relative;
    height: 100%;
}
@media screen and (min-width:768px){
    .ratingVotes.columns {
        position: absolute;
        width: 100%;
        bottom: 15px;
    }
}
@media screen and (max-width:767px){

.ratingVotes.columns {
    position: relative;
    width: 100%;
    bottom: 0px;
}
}
